/* Detail.css */

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.detail-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.detail-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.course-details {
  margin-top: 20px;
}

.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-header h1 {
  font-size: 24px;
  margin: 0;
}

.price {
  font-size: 18px;
}

.description {
  margin-top: 20px;
}

.description h2 {
  font-size: 20px;
  margin: 0;
  padding-bottom: 10px;
}

.description p {
  font-size: 16px;
  line-height: 1.5;
}

.more-details {
  margin-top: 20px;
}

.more-details h2 {
  font-size: 20px;
  margin: 0;
  padding-bottom: 10px;
}

/* Add styles for additional details here */

.btn-success {
  margin-top: 20px;
}
