@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');


.Homeheading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  font-family: 'Montserrat', sans-serif;

}

.auto-type {
  font-size: 2rem;
  font-weight: bold;
}


.text-container {
  text-align: left;
  padding: 20px;
}



.description-text {
  font-size: 1.25rem;
  font-weight: 300;
  color: #555;
  margin-top: 15px;
}

.image-container video {
  border-radius: 10px;
}

@media screen and (max-width : 767px) {
  .Homeheading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    font-family: 'Montserrat', sans-serif;
  }

  .auto-type {
    font-size: 1.2rem;
    font-weight: bold;
  }
}